.wrapper-header {
	background: $brand-primary;
}
.wrapper {
	max-width: 966px;
	margin: 0 auto;
	padding: 1px 3px;
}
.header {

}


.header-top {
	overflow: hidden;
	& ul {
		float: right;
		padding: 15px 5px;
		font-size: $font-size-base;
		&:first-child {
			border: none;
		}
		& li {
			display: inline-block;
			margin-left: 15px;
			padding-left: 15px;
			border-left: 1px solid $white-base;
			& a {
				text-decoration: none;
			}
		}
	}
}

.header-down {
	overflow: hidden;
	padding: 40px 0 20px;
	&__logo {
		background: url(../Image/logo/logo.png) no-repeat;
		text-indent: -9999px;
		float: left;
		width: 200px;
		height: 70px;
		& a {
			display: block;
			height: 100%;
		}
	}
	&__nav {
		font-size: $font-size-base;
		font-weight: bold;
		float: left;
		& ul {
			padding-top: 30px;
			& li {
				display: inline-block;
				margin-right: 12px;
				& a {
					text-transform: uppercase;
					text-decoration: none;

				}
			}
		}
	}
	&__form {
		margin: 21px 5px;
		position: relative;
		overflow: hidden;
		max-width: 175px;
		float: right;
		&:after {
				content: "";
				position: absolute;
				background: url(../icons/search.png) no-repeat;
				width: 15px;
				height: 15px;
				top: 6px;
				right: 6px;
		}
		& input {
			background: $input-bg;
			border: 1px solid #c7c7c7;
			font-size: $input-font-size;
			width: 100%;
			height: 30px;
			padding: 6px 30px 6px 9px;
			box-sizing: border-box;
		}
	}
	&__icons {
		float: right;
		margin: 15px;
		& .round {
			display: inline-block;
			border-radius: 50%;
			background: $brand-primary;
			margin: 0 3px;
			& img {
			width: 43px;
			height: 37px;
			padding: 7px;
			}
		}
		& .cart {
			float: right;
			font-weight: bold;
			text-transform: uppercase;
			padding-top: 12px;
		}
		
	}
}